# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment Variables (Secrets)
.env
.env.*
! .env.example

# Docker
.docker/

# IDEs
.vscode/
.idea/

# GARCH output files
GARCH/output/

#datasets
.csv
.txt