fastapi
uvicorn
sqlalchemy
psycopg2-binary
black==24.10.0
pytest
httpx
arch>=5.3.0              # GARCH model
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
yfinance>=0.2.0          # For fetching historical data
python-multipart          # For file uploads
redis
boto3
joblib
scikit-learn
dotenv
pycatch22
matplotlib>=3.5.0        # For plotting
seaborn>=0.12.0          # For statistical plots
statsmodels>=0.14.0      # For ACF calculations
